.body {
    margin-top: 0%;
    margin-left: 0%;
    background-color: black;
}

.title-region {
    position: fixed;
    background-color: #783232;
    width: 100%;
    padding: 10px;
}

.title-region h1 {
    top: 0%;
    left: 0%
}
#btn-label {
    color: #f5d0b0;
    cursor:pointer;
}

#movie-input {
    height: 30px;
    width: 20cm;
    border-radius: 10px;
    text-align: center;
    border-color: black;
}

.btn {
    background-color: #f5d0b0;
    color: #783232;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

}

.container {
    padding-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;
}

.movie-poster{
    flex: 0 0 auto;
    background-color: #783232;
    color: #f5d0b0;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    text-align: center;
}

img.movie-image{
    border-radius: 3px;
}

.movie-rating {
    font-weight: bold;
}

.learn-more{
    /* display:contents; */
    color:blue;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
}

