.body {
    margin-top: 0%;
    margin-left: 0%;
    background-color: black;
}

.title-region {
    position: fixed;
    background-color: #783232;
    width: 100%;
    padding: 10px;
    padding-left:30px ;
}

#btn-label {
    color: #f5d0b0;
    cursor:pointer;
    font-size:50px;
    margin-right: 0%;
}

#logo {
    padding-bottom: 2px;
    top: 10px;
    position: relative;
}


#search-input {
    height: 30px;
    width: 20cm;
    border-radius: 10px;
    text-align: center;
    border-color: black;
}

.btn {
    background-color: #f5d0b0;
    color: #783232;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;

}

.btn:hover{
    background-color: #783232;
    color: #f5d0b0;
}
/* for both the more button and the back to top */
#btn-loc{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
}

#scroll-up{
    display: none;
}

#movies-grid {
    padding-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;
}

.movie-card{
    flex: 0 0 auto;
    background-color: #783232;
    color: #f5d0b0;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    text-align: center;
}

img.movie-image{
    border-radius: 3px;
}

.movie-rating {
    font-weight: bold;
}

/* open modal button id */

#learn-more{
    /* display:contents; */
    color:#f5d0b0;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
}


/* modal styling */

.open-modal {
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: .75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  .modal-content {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: #783232;
    color: #f5d0b0;
    overflow: auto;
    cursor: default;
  }

  /* opening modal */

.close-btn{
    float: right;
    font-size: 30px;
    color: #783232;
}

.close-btn:hover{
    color:black;
    cursor: pointer;
    text-shadow: #f5d0b0;
}

.modal-header {
    background: #f5d0b0;
    padding: 15px;
    color: #783232;

}